<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div><a href="users/"> Find some friends to follow! </a></div>
    <div><a href="posts/"> View News Feed </a></div>
    <div><a href="users/login"> Login </a></div>  
    <div><a href="users/new"> Create an account </a></div>  
  </body>
</html>
